In [1]:
import pandas as pd

In [2]:
displacement_df = pd.read_csv('Resources/Displacement_Risk_Demographics_2019.csv', low_memory=False)

In [3]:
displacement_df.head()

,the_geom,GEOID20,COUNCIL_DI,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,...,Percent Renter Occupied Units_2019,Percent Owner Occupied Units_2019,Sum of Lowmoduniverse_2019,Sum of Lowmod_2019,Percent Lowmod_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Quadrant_2019,Percent severely rent burdened_2019
0,MULTIPOLYGON (((-97.74903862358497 30.19139320...,4.850000e+14,2,92,76,15,0,0,0,0,...,0.38,0.62,6065,4300,0.71,56389,126800,1579,Southeast,0.26
1,MULTIPOLYGON (((-97.73502862334274 30.25968421...,4.850000e+14,3,26,17,9,0,0,0,0,...,0.46,0.54,3640,2135,0.59,57269,440100,1302,East,0.22
2,MULTIPOLYGON (((-97.7167086205077 30.282670219...,4.850000e+14,1,24,2,21,0,1,0,0,...,0.64,0.36,3055,1705,0.56,60950,398200,1248,East,0.33
3,MULTIPOLYGON (((-97.64422960245622 30.29935522...,4.850000e+14,1,43,31,4,5,0,1,0,...,0.51,0.49,8490,6780,0.80,44314,94900,1211,Northeast,0.41
4,MULTIPOLYGON (((-97.70436961526102 30.22639820...,4.850000e+14,3,13,5,2,5,0,0,0,...,0.77,0.23,10290,8985,0.87,54661,207500,924,Southeast,0.23

In [4]:
displacement_df.shape

(3013, 60)

In [5]:
displacement_df.columns

Index(['the_geom', 'GEOID20', 'COUNCIL_DI', 'Total Population 2020',
       'Total Hispanic Pop 2020', 'Total NH White 2020', 'Total NH Black 2020',
       'Total NH AM Indian AK Native 2020', 'Total NH Asian 2020',
       'Total NH Native Hawaiian 2020', 'Total NH Other Races 2020',
       'Total NH Two or More Races 2020', 'Total Housing Units 2020',
       'Occupied Housing Units 2020', 'Vacant Housing Units 2020', 'GEOID20_1',
       'Total City Sponsored Affordable Units',
       'Total Citywide Affordable Units', 'TRACTCE10', 'GEOID10', 'NAME10',
       'GeoIDNum', 'GEOID_1', 'GEOID1', 'NAME_1', 'GENTRIFICATION Typology',
       'VULNERABLE Pop', 'DEMOGRAPHIC Change', 'HOUSING_MARKET',
       'DISPLACEMENT RISK', 'DESCRIPTION', 'FIPS', 'Geographic',
       'Total_Population_2019', 'White (Not Hispanic)_2019', 'POC%_2019',
       'White (Not Hispanic)%_2019', 'Population 25 and older_2019',
       'Education: Less than HS_2019', 'Education: HS Graduate_2019',
       'Education: Some College_2019', 'Education: Bachelors_2019',
       'Percent without Bachelors_2019', 'Percent with Bachelors_2019',
       'Pop under 18 for whom poverty is determined_2019',
       'Population below poverty_2019', 'Percent Child Poverty_2019',
       'Occupied Housing Units_2019', 'Owner Occupied Housing Units_2019',
       'Renter Occupied Housing Units_2019',
       'Percent Renter Occupied Units_2019',
       'Percent Owner Occupied Units_2019', 'Sum of Lowmoduniverse_2019',
       'Sum of Lowmod_2019', 'Percent Lowmod_2019',
       'Median Family Income_2019', 'Median Home Value_2019',
       'Median Gross Rent_2019', 'Quadrant_2019',
       'Percent severely rent burdened_2019'],
      dtype='object')

In [6]:
displacement_df.isnull().sum()

the_geom                                             0
GEOID20                                              0
COUNCIL_DI                                           0
Total Population 2020                                0
Total Hispanic Pop 2020                              0
Total NH White 2020                                  0
Total NH Black 2020                                  0
Total NH AM Indian AK Native 2020                    0
Total NH Asian 2020                                  0
Total NH Native Hawaiian 2020                        0
Total NH Other Races 2020                            0
Total NH Two or More Races 2020                      0
Total Housing Units 2020                             0
Occupied Housing Units 2020                          0
Vacant Housing Units 2020                            0
GEOID20_1                                            0
Total City Sponsored Affordable Units                0
Total Citywide Affordable Units                      0
TRACTCE10                                            0
GEOID10                                              0
NAME10                                               0
GeoIDNum                                             0
GEOID_1                                              0
GEOID1                                               0
NAME_1                                              41
GENTRIFICATION Typology                             41
VULNERABLE Pop                                       0
DEMOGRAPHIC Change                                  41
HOUSING_MARKET                                       0
DISPLACEMENT RISK                                    0
DESCRIPTION                                          0
FIPS                                                 0
Geographic                                           0
Total_Population_2019                                0
White (Not Hispanic)_2019                            0
POC%_2019                                            0
White (Not Hispanic)%_2019                           0
Population 25 and older_2019                         0
Education: Less than HS_2019                         0
Education: HS Graduate_2019                          0
Education: Some College_2019                         0
Education: Bachelors_2019                            0
Percent without Bachelors_2019                       0
Percent with Bachelors_2019                          0
Pop under 18 for whom poverty is determined_2019     0
Population below poverty_2019                        0
Percent Child Poverty_2019                           0
Occupied Housing Units_2019                          0
Owner Occupied Housing Units_2019                    0
Renter Occupied Housing Units_2019                   0
Percent Renter Occupied Units_2019                   0
Percent Owner Occupied Units_2019                    0
Sum of Lowmoduniverse_2019                           0
Sum of Lowmod_2019                                   0
Percent Lowmod_2019                                  0
Median Family Income_2019                            0
Median Home Value_2019                               0
Median Gross Rent_2019                               0
Quadrant_2019                                        0
Percent severely rent burdened_2019                  0
dtype: int64

In [7]:
displacement_df['the_geom'].nunique()

3013

In [8]:
displacement_clean_df = displacement_df.drop(['GEOID20',
                                              'GEOID20_1', 
                                              'Total City Sponsored Affordable Units', 
                                              'Total Citywide Affordable Units', 
                                              'GEOID10',  
                                              'GEOID_1', 
                                              'GEOID1', 
                                              'DESCRIPTION',
                                              'FIPS',
                                              'Geographic', 
                                              'Total_Population_2019',
                                              'White (Not Hispanic)_2019',
                                              'POC%_2019',
                                              'Percent without Bachelors_2019', 
                                              'Percent with Bachelors_2019', 
                                              'Percent Renter Occupied Units_2019', 
                                              'Percent Owner Occupied Units_2019', 
                                              'Percent Lowmod_2019', 'TRACTCE10',
                                              'NAME10','GeoIDNum', 'NAME_1',
                                              'the_geom','COUNCIL_DI', 'White (Not Hispanic)_2019',
                                              'Population 25 and older_2019', 'Pop under 18 for whom poverty is determined_2019',
                                              'Percent Child Poverty_2019', 'Occupied Housing Units_2019',
                                              'Owner Occupied Housing Units_2019', 'Renter Occupied Housing Units_2019',
                                              'Sum of Lowmoduniverse_2019', 'Sum of Lowmod_2019',
                                              'Quadrant_2019'], axis=1)

In [9]:
displacement_clean_df.head()

,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,Total NH Two or More Races 2020,Total Housing Units 2020,...,White (Not Hispanic)%_2019,Education: Less than HS_2019,Education: HS Graduate_2019,Education: Some College_2019,Education: Bachelors_2019,Population below poverty_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Percent severely rent burdened_2019
0,92,76,15,0,0,0,0,0,1,23,...,0.100892,1650,1307,636,270,529,56389,126800,1579,0.26
1,26,17,9,0,0,0,0,0,0,17,...,0.480611,378,485,697,1451,0,57269,440100,1302,0.22
2,24,2,21,0,1,0,0,0,0,13,...,0.508058,241,568,431,1592,50,60950,398200,1248,0.33
3,43,31,4,5,0,1,0,0,2,15,...,0.046784,2192,1634,745,567,1628,44314,94900,1211,0.41
4,13,5,2,5,0,0,0,1,0,1,...,0.180042,932,754,1138,1000,158,54661,207500,924,0.23

In [10]:
displacement_clean_df = displacement_clean_df.dropna()

In [11]:
displacement_clean_df.shape

(2972, 27)

In [12]:
displacement_clean_df.dtypes

Total Population 2020                    int64
Total Hispanic Pop 2020                  int64
Total NH White 2020                      int64
Total NH Black 2020                      int64
Total NH AM Indian AK Native 2020        int64
Total NH Asian 2020                      int64
Total NH Native Hawaiian 2020            int64
Total NH Other Races 2020                int64
Total NH Two or More Races 2020          int64
Total Housing Units 2020                 int64
Occupied Housing Units 2020              int64
Vacant Housing Units 2020                int64
GENTRIFICATION Typology                 object
VULNERABLE Pop                          object
DEMOGRAPHIC Change                      object
HOUSING_MARKET                          object
DISPLACEMENT RISK                       object
White (Not Hispanic)%_2019             float64
Education: Less than HS_2019             int64
Education: HS Graduate_2019              int64
Education: Some College_2019             int64
Education: Bachelors_2019                int64
Population below poverty_2019            int64
Median Family Income_2019                int64
Median Home Value_2019                   int64
Median Gross Rent_2019                   int64
Percent severely rent burdened_2019    float64
dtype: object

 ## Basic Setup

In [13]:
# Initial Imports
from pathlib import Path
import pandas as pd
import sklearn as skl
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from collections import Counter

## Preprocess the Dataset

In [14]:
displacement_clean_df["VULNERABLE Pop"].nunique()

2

In [15]:
displacement_clean_df["GENTRIFICATION Typology"].nunique()

6

In [16]:
displacement_clean_df["DEMOGRAPHIC Change"].nunique()

2

In [17]:
displacement_clean_df["HOUSING_MARKET"].nunique()

4

In [18]:
displacement_clean_df["DISPLACEMENT RISK"].nunique()

3

In [19]:
#displacement_clean_df["Quadrant_2019"].nunique()

In [20]:
# Encode target variable labels
le = LabelEncoder()
df_encoded = displacement_clean_df.copy()
df_encoded["VULNERABLE Pop"] = le.fit_transform(df_encoded["VULNERABLE Pop"])
df_encoded.head(10)

,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,Total NH Two or More Races 2020,Total Housing Units 2020,...,White (Not Hispanic)%_2019,Education: Less than HS_2019,Education: HS Graduate_2019,Education: Some College_2019,Education: Bachelors_2019,Population below poverty_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Percent severely rent burdened_2019
0,92,76,15,0,0,0,0,0,1,23,...,0.100892,1650,1307,636,270,529,56389,126800,1579,0.26
1,26,17,9,0,0,0,0,0,0,17,...,0.480611,378,485,697,1451,0,57269,440100,1302,0.22
2,24,2,21,0,1,0,0,0,0,13,...,0.508058,241,568,431,1592,50,60950,398200,1248,0.33
3,43,31,4,5,0,1,0,0,2,15,...,0.046784,2192,1634,745,567,1628,44314,94900,1211,0.41
4,13,5,2,5,0,0,0,1,0,1,...,0.180042,932,754,1138,1000,158,54661,207500,924,0.23
5,0,0,0,0,0,0,0,0,0,0,...,0.587016,259,417,684,2088,69,88006,338300,1319,0.26
6,236,202,19,5,0,5,0,2,3,78,...,0.323503,858,1357,602,1429,947,48047,346400,1136,0.37
7,0,0,0,0,0,0,0,0,0,0,...,0.285379,521,463,391,614,177,77829,211300,1422,0.25
8,32,15,0,13,0,0,0,3,1,11,...,0.157380,478,462,571,467,88,82902,201700,1319,0.29
9,133,86,37,3,0,3,0,0,4,36,...,0.177998,1655,1472,1009,1822,814,63689,201300,1028,0.24

In [21]:
# Binary encoding using Pandas
df_encoded = pd.get_dummies(df_encoded, columns=["GENTRIFICATION Typology", "DEMOGRAPHIC Change", "HOUSING_MARKET", "DISPLACEMENT RISK"])
df_encoded.head(10)

,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,Total NH Two or More Races 2020,Total Housing Units 2020,...,GENTRIFICATION Typology_Susceptible,DEMOGRAPHIC Change_NO,DEMOGRAPHIC Change_YES,HOUSING_MARKET_Accelerating,HOUSING_MARKET_Adjacent,HOUSING_MARKET_Appreciated,HOUSING_MARKET_Stable,DISPLACEMENT RISK_Active Displacement,DISPLACEMENT RISK_Chronic Displacment,DISPLACEMENT RISK_Vulnerable
0,92,76,15,0,0,0,0,0,1,23,...,0,1,0,0,0,0,1,0,0,1
1,26,17,9,0,0,0,0,0,0,17,...,0,0,1,0,0,1,0,0,1,0
2,24,2,21,0,1,0,0,0,0,13,...,0,0,1,0,0,1,0,0,1,0
3,43,31,4,5,0,1,0,0,2,15,...,1,1,0,0,1,0,0,0,0,1
4,13,5,2,5,0,0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
6,236,202,19,5,0,5,0,2,3,78,...,0,1,0,0,0,1,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8,32,15,0,13,0,0,0,3,1,11,...,0,1,0,1,0,0,0,1,0,0
9,133,86,37,3,0,3,0,0,4,36,...,1,1,0,0,1,0,0,0,0,1

In [22]:
# Segment the features from the target variable
y = df_encoded["VULNERABLE Pop"]
X = df_encoded.drop(columns="VULNERABLE Pop")

In [23]:
df_encoded = df_encoded.drop(["VULNERABLE Pop"], axis=1)
df_encoded.head()

,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,Total NH Two or More Races 2020,Total Housing Units 2020,...,GENTRIFICATION Typology_Susceptible,DEMOGRAPHIC Change_NO,DEMOGRAPHIC Change_YES,HOUSING_MARKET_Accelerating,HOUSING_MARKET_Adjacent,HOUSING_MARKET_Appreciated,HOUSING_MARKET_Stable,DISPLACEMENT RISK_Active Displacement,DISPLACEMENT RISK_Chronic Displacment,DISPLACEMENT RISK_Vulnerable
0,92,76,15,0,0,0,0,0,1,23,...,0,1,0,0,0,0,1,0,0,1
1,26,17,9,0,0,0,0,0,0,17,...,0,0,1,0,0,1,0,0,1,0
2,24,2,21,0,1,0,0,0,0,13,...,0,0,1,0,0,1,0,0,1,0
3,43,31,4,5,0,1,0,0,2,15,...,1,1,0,0,1,0,0,0,0,1
4,13,5,2,5,0,0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0

In [24]:
df_encoded.dtypes

Total Population 2020                       int64
Total Hispanic Pop 2020                     int64
Total NH White 2020                         int64
Total NH Black 2020                         int64
Total NH AM Indian AK Native 2020           int64
Total NH Asian 2020                         int64
Total NH Native Hawaiian 2020               int64
Total NH Other Races 2020                   int64
Total NH Two or More Races 2020             int64
Total Housing Units 2020                    int64
Occupied Housing Units 2020                 int64
Vacant Housing Units 2020                   int64
White (Not Hispanic)%_2019                float64
Education: Less than HS_2019                int64
Education: HS Graduate_2019                 int64
Education: Some College_2019                int64
Education: Bachelors_2019                   int64
Population below poverty_2019               int64
Median Family Income_2019                   int64
Median Home Value_2019                      int64
Median Gross Rent_2019                      int64
Percent severely rent burdened_2019       float64
GENTRIFICATION Typology_Continued Loss      uint8
GENTRIFICATION Typology_Dynamic             uint8
GENTRIFICATION Typology_Early: Type 1       uint8
GENTRIFICATION Typology_Late                uint8
GENTRIFICATION Typology_Stable              uint8
GENTRIFICATION Typology_Susceptible         uint8
DEMOGRAPHIC Change_NO                       uint8
DEMOGRAPHIC Change_YES                      uint8
HOUSING_MARKET_Accelerating                 uint8
HOUSING_MARKET_Adjacent                     uint8
HOUSING_MARKET_Appreciated                  uint8
HOUSING_MARKET_Stable                       uint8
DISPLACEMENT RISK_Active Displacement       uint8
DISPLACEMENT RISK_Chronic Displacment       uint8
DISPLACEMENT RISK_Vulnerable                uint8
dtype: object

In [25]:
# Use the train_test_split function to create training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
# Check shape of training subset
X_train.shape

(2229, 37)

In [26]:
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
X_train_scaled

array([[-0.47502458, -0.40725845, -0.45318084, ..., -0.79258802,
        -0.61312798,  1.39028585],
       [ 0.04910534, -0.21095982,  0.39313641, ...,  1.26168953,
        -0.61312798, -0.71927654],
       [-0.24514304, -0.328739  ,  0.0035618 , ..., -0.79258802,
        -0.61312798,  1.39028585],
       ...,
       [-0.36468144, -0.40725845, -0.15764148, ..., -0.79258802,
         1.63098085, -0.71927654],
       [-0.18537384, -0.25021955, -0.02330541, ..., -0.79258802,
        -0.61312798,  1.39028585],
       [-0.24514304, -0.15599621, -0.23824313, ...,  1.26168953,
        -0.61312798, -0.71927654]])

In [28]:
X_test_scaled

array([[-0.47502458, -0.40725845, -0.45318084, ...,  1.26168953,
        -0.61312798, -0.71927654],
       [-0.32330276, -0.32088706, -0.1979423 , ..., -0.79258802,
         1.63098085, -0.71927654],
       [-0.47502458, -0.40725845, -0.45318084, ...,  1.26168953,
        -0.61312798, -0.71927654],
       ...,
       [-0.27732645, -0.31303511, -0.05017262, ..., -0.79258802,
        -0.61312798,  1.39028585],
       [-0.22675251, -0.37585067,  0.11103066, ..., -0.79258802,
         1.63098085, -0.71927654],
       [-0.38766959, -0.328739  , -0.35914559, ...,  1.26168953,
        -0.61312798, -0.71927654]])

In [29]:
Counter(y_train)

Counter({1: 1620, 0: 609})

### Correct Undersampling

 ## Random Forest Model

In [30]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128,
                                random_state=5)

In [31]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [32]:
# Make predictions using the test data
y_pred = rf_model.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           1       1
1           0       0
2           1       1
3           1       1
4           1       1
5           0       0
6           1       1
7           1       1
8           0       0
9           1       1

## Assess Performance of Random Forest Model

In [33]:
# Deermine accuracy score of the model
print(accuracy_score(y_test, y_pred))

1.0

In [34]:
# Generate Confusion Matrix
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[203   0]
 [  0 540]]

In [35]:
# Generate Classification Report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       203
           1       1.00      1.00      1.00       540

    accuracy                           1.00       743
   macro avg       1.00      1.00      1.00       743
weighted avg       1.00      1.00      1.00       743

### Rank the Importance of Features

In [36]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([1.19581778e-04, 2.76937362e-05, 2.42311086e-04, 1.03207531e-04,
       3.18799825e-05, 3.38326032e-05, 0.00000000e+00, 5.99880943e-05,
       0.00000000e+00, 9.71737076e-05, 1.02203972e-04, 0.00000000e+00,
       1.01917404e-01, 5.25036351e-02, 1.00935329e-01, 9.53022253e-03,
       1.49744566e-02, 6.17167970e-02, 4.93343588e-02, 4.33317996e-02,
       3.36597447e-02, 2.15570993e-03, 2.26849158e-01, 6.28501742e-04,
       3.93957341e-04, 1.75796599e-02, 3.18606395e-04, 5.84588197e-04,
       1.50530363e-02, 8.92424852e-03, 2.79143600e-03, 1.86257285e-03,
       3.43767589e-02, 0.00000000e+00, 3.78298664e-02, 1.72748048e-01,
       9.18223159e-03])

In [37]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.22684915782518256, 'GENTRIFICATION Typology_Continued Loss'),
 (0.17274804839611008, 'DISPLACEMENT RISK_Chronic Displacment'),
 (0.10191740374258043, 'White (Not Hispanic)%_2019'),
 (0.10093532911144058, 'Education: HS Graduate_2019'),
 (0.06171679701636135, 'Population below poverty_2019'),
 (0.052503635100281845, 'Education: Less than HS_2019'),
 (0.04933435876570165, 'Median Family Income_2019'),
 (0.043331799552178994, 'Median Home Value_2019'),
 (0.037829866359564895, 'DISPLACEMENT RISK_Active Displacement'),
 (0.03437675890686918, 'HOUSING_MARKET_Appreciated'),
 (0.0336597447434005, 'Median Gross Rent_2019'),
 (0.017579659943669095, 'GENTRIFICATION Typology_Late'),
 (0.01505303633731541, 'DEMOGRAPHIC Change_NO'),
 (0.014974456615142684, 'Education: Bachelors_2019'),
 (0.009530222526210263, 'Education: Some College_2019'),
 (0.009182231592892715, 'DISPLACEMENT RISK_Vulnerable'),
 (0.00892424852477129, 'DEMOGRAPHIC Change_YES'),
 (0.0027914359983707625, 'HOUSING_MARKET_Accelerating'),
 (0.0021557099300338572, 'Percent severely rent burdened_2019'),
 (0.0018625728471287168, 'HOUSING_MARKET_Adjacent'),
 (0.0006285017422716535, 'GENTRIFICATION Typology_Dynamic'),
 (0.0005845881971874295, 'GENTRIFICATION Typology_Susceptible'),
 (0.0003939573406119234, 'GENTRIFICATION Typology_Early: Type 1'),
 (0.00031860639450957825, 'GENTRIFICATION Typology_Stable'),
 (0.00024231108637059266, 'Total NH White 2020'),
 (0.00011958177778776965, 'Total Population 2020'),
 (0.00010320753064205564, 'Total NH Black 2020'),
 (0.00010220397170955138, 'Occupied Housing Units 2020'),
 (9.717370755264966e-05, 'Total Housing Units 2020'),
 (5.998809427958057e-05, 'Total NH Other Races 2020'),
 (3.383260317368121e-05, 'Total NH Asian 2020'),
 (3.187998253210221e-05, 'Total NH AM Indian AK Native 2020'),
 (2.7693736164729355e-05, 'Total Hispanic Pop 2020'),
 (0.0, 'Vacant Housing Units 2020'),
 (0.0, 'Total NH Two or More Races 2020'),
 (0.0, 'Total NH Native Hawaiian 2020'),
 (0.0, 'HOUSING_MARKET_Stable')]

In [38]:
#import sqlite3

In [39]:
#conn = sqlite3.connect('gentrification_db.sqlite')

In [40]:
#displacement_clean_df.to_sql(name='displacement_risk_df', con=conn, if_exists='replace', index=False)