In [1]:
import pandas as pd

In [2]:
housing_df = pd.read_csv('Resources/2014_Housing_Market_Analysis_Data_by_Zip_Code.csv', low_memory=False)

In [3]:
housing_df.head()

,Zip Code,Population below poverty level,Median household income,"Non-White, Non-Hispanic or Latino","Hispanic or Latino, of any race",Population with disability,Unemployment,Large households (5+ members),"Homes affordable to people earning less than $50,000","Rentals affordable to people earning less than $25,000",...,Rental units affordable to average teacher,Owner units affordable to average teacher,Rental units affordable to average tech worker,Owner units affordable to average tech worker,"Change in percentage of population below poverty, 2000-2012","Change in median rent, 2000-2012","Change in median home value, 2000-2012",Percentage of homes within 1/4-mi of transit stop,Average monthly transportation cost,Percentage of housing and transportation costs that is transportation-related
0,78726.0,9,66096,16,20,3,4,2,0.0,1,...,70,0.0,99,17.0,375,20,55,2,786,40
1,NaN,19,52431,16,35,8,7,8,24.0,10,...,74,22.0,98,58.0,65,31,74,29,668,38
2,78724.0,38,35711,29,63,8,8,28,85.0,16,...,78,84.0,100,96.0,208,37,46,21,786,40
3,78617.0,18,43957,12,67,10,15,23,NaN,11,...,63,NaN,99,NaN,101,74,21,16,865,42
4,78701.0,20,68152,16,14,10,9,0,7.0,7,...,29,7.0,90,30.0,12,115,59,97,433,23

In [4]:
housing_df.shape

(37, 30)

In [5]:
housing_df.columns

Index(['Zip Code', 'Population below poverty level', 'Median household income',
       'Non-White, Non-Hispanic or Latino', 'Hispanic or Latino, of any race',
       'Population with disability', 'Unemployment',
       'Large households (5+ members)',
       'Homes affordable to people earning less than $50,000',
       'Rentals affordable to people earning less than $25,000',
       'Rent-restricted units', 'Housing Choice Voucher holders',
       'Median rent', 'Median home value',
       'Percentage of rental units in poor condition',
       'Percent change in number of housing units, 2000-2012',
       'Owner units affordable to average retail/service worker',
       'Rental units affordable to average retail/service worker',
       'Rental units affordable to average artist',
       'Owner units affordable to average artist',
       'Rental units affordable to average teacher',
       'Owner units affordable to average teacher',
       'Rental units affordable to average tech worker',
       'Owner units affordable to average tech worker',
       'Change in percentage of population below poverty, 2000-2012',
       'Change in median rent, 2000-2012',
       'Change in median home value, 2000-2012',
       'Percentage of homes within 1/4-mi of transit stop',
       'Average monthly transportation cost',
       'Percentage of housing and transportation costs that is transportation-related'],
      dtype='object')

In [6]:
housing_df.isnull().sum()

Zip Code                                                                         1
Population below poverty level                                                   0
Median household income                                                          0
Non-White, Non-Hispanic or Latino                                                0
Hispanic or Latino, of any race                                                  0
Population with disability                                                       0
Unemployment                                                                     0
Large households (5+ members)                                                    0
Homes affordable to people earning less than $50,000                             1
Rentals affordable to people earning less than $25,000                           0
Rent-restricted units                                                            0
Housing Choice Voucher holders                                                   0
Median rent                                                                      0
Median home value                                                                0
Percentage of rental units in poor condition                                     0
Percent change in number of housing units, 2000-2012                             0
Owner units affordable to average retail/service worker                          1
Rental units affordable to average retail/service worker                         0
Rental units affordable to average artist                                        0
Owner units affordable to average artist                                         1
Rental units affordable to average teacher                                       0
Owner units affordable to average teacher                                        1
Rental units affordable to average tech worker                                   0
Owner units affordable to average tech worker                                    1
Change in percentage of population below poverty, 2000-2012                      0
Change in median rent, 2000-2012                                                 0
Change in median home value, 2000-2012                                           0
Percentage of homes within 1/4-mi of transit stop                                0
Average monthly transportation cost                                              0
Percentage of housing and transportation costs that is transportation-related    0
dtype: int64

In [7]:
housing_clean_df = housing_df.dropna()

In [8]:
housing_clean_df.shape

(35, 30)

In [9]:
housing_clean_df.dtypes

Zip Code                                                                         float64
Population below poverty level                                                     int64
Median household income                                                            int64
Non-White, Non-Hispanic or Latino                                                  int64
Hispanic or Latino, of any race                                                    int64
Population with disability                                                         int64
Unemployment                                                                       int64
Large households (5+ members)                                                      int64
Homes affordable to people earning less than $50,000                             float64
Rentals affordable to people earning less than $25,000                             int64
Rent-restricted units                                                              int64
Housing Choice Voucher holders                                                     int64
Median rent                                                                        int64
Median home value                                                                  int64
Percentage of rental units in poor condition                                     float64
Percent change in number of housing units, 2000-2012                               int64
Owner units affordable to average retail/service worker                          float64
Rental units affordable to average retail/service worker                           int64
Rental units affordable to average artist                                          int64
Owner units affordable to average artist                                         float64
Rental units affordable to average teacher                                         int64
Owner units affordable to average teacher                                        float64
Rental units affordable to average tech worker                                     int64
Owner units affordable to average tech worker                                    float64
Change in percentage of population below poverty, 2000-2012                        int64
Change in median rent, 2000-2012                                                   int64
Change in median home value, 2000-2012                                             int64
Percentage of homes within 1/4-mi of transit stop                                  int64
Average monthly transportation cost                                                int64
Percentage of housing and transportation costs that is transportation-related      int64
dtype: object

In [ ]:
#import sqlite3

In [ ]:
#conn = sqlite3.connect('gentrification_db.sqlite')

In [ ]:
#housing_clean_df.to_sql(name='housing_market_df', con=conn, if_exists='replace', index=False)