In [1]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client use of data.austintexas.gov API
client = Socrata("data.austintexas.gov", None)

# Get results, returned as JSON from API / converted to Python list of dictionaries by sodapy
results = client.get("fdj4-gpfu", where=[{"occ_date" > "2014-01-01T00:00:00.000"}], limit=500000)

# Convert to pandas DataFrame
crime_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [2]:
crime_df.head()

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,census_tract,clearance_status,clearance_date,x_coordinate,y_coordinate,latitude,longitude,location,ucr_category,category_description
0,20113421783,CUSTODY ARREST TRAFFIC WARR,3722,N,2011-12-08T22:10:00.000,2011-12-08T00:00:00.000,2210,2011-12-08T23:02:00.000,2011-12-08T00:00:00.000,2302,...,23,C,2011-12-14T00:00:00.000,3114509,3114509,30.21813591,-97.74352501,"{'latitude': '30.21813591', 'longitude': '-97....",NaN,NaN
1,2017471291,THEFT,600,N,2017-02-16T18:00:00.000,2017-02-16T00:00:00.000,1800,2017-02-16T18:22:00.000,2017-02-16T00:00:00.000,1822,...,21,N,2017-03-29T00:00:00.000,3128234,3128234,30.27478825,-97.69851396,"{'latitude': '30.27478825', 'longitude': '-97....",23H,Theft
2,2003620481173,VIOL CITY ORDINANCE - OTHER,3299,N,2003-02-17T17:44:00.000,2003-02-17T00:00:00.000,1744,2003-02-17T17:44:00.000,2003-02-17T00:00:00.000,1744,...,11,C,NaN,3111573,3111573,30.27373748,-97.75133669,"{'latitude': '30.27373748', 'longitude': '-97....",NaN,NaN
3,20101382082,THEFT OF LICENSE PLATE,614,N,2010-05-18T21:43:00.000,2010-05-18T00:00:00.000,2143,2010-05-18T21:43:00.000,2010-05-18T00:00:00.000,2143,...,20,N,2010-05-21T00:00:00.000,3107688,3107688,30.22154219,-97.76503571,"{'latitude': '30.22154219', 'longitude': '-97....",23G,Theft
4,20045054494,BURGLARY OF COIN-OP MACHINE,602,N,2004-11-09T07:30:00.000,2004-11-09T00:00:00.000,730,2004-11-10T09:08:00.000,2004-11-10T00:00:00.000,908,...,401,NaN,2004-11-11T00:00:00.000,3122340,3122340,30.36380148,-97.71477615,"{'latitude': '30.36380148', 'longitude': '-97....",23E,Theft

In [3]:
crime_df.shape

(500000, 27)

In [4]:
crime_df.columns

Index(['incident_report_number', 'crime_type', 'ucr_code', 'family_violence',
       'occ_date_time', 'occ_date', 'occ_time', 'rep_date_time', 'rep_date',
       'rep_time', 'location_type', 'address', 'zip_code', 'council_district',
       'sector', 'district', 'pra', 'census_tract', 'clearance_status',
       'clearance_date', 'x_coordinate', 'y_coordinate', 'latitude',
       'longitude', 'location', 'ucr_category', 'category_description'],
      dtype='object')

In [5]:
crime_df.isnull().sum()

incident_report_number         0
crime_type                     0
ucr_code                       0
family_violence                0
occ_date_time                 24
occ_date                       0
occ_time                      16
rep_date_time                  0
rep_date                       0
rep_time                       0
location_type               6117
address                        5
zip_code                    5386
council_district            8698
sector                      3723
district                    3993
pra                         4686
census_tract                9767
clearance_status          123924
clearance_date             72943
x_coordinate                4420
y_coordinate                4420
latitude                   15933
longitude                  15933
location                   15933
ucr_category              310102
category_description      310102
dtype: int64

In [6]:
crime_clean_df = crime_df.drop(['family_violence', 
                                'occ_date_time', 
                                'occ_time', 
                                'rep_date_time', 
                                'rep_date',
                                'rep_time', 
                                'clearance_status', 
                                'clearance_date', 
                                'pra', 
                                'ucr_category', 
                                'category_description',
                                'location'], axis=1, inplace=False)

In [7]:
crime_clean_df.head()

,incident_report_number,crime_type,ucr_code,occ_date,location_type,address,zip_code,council_district,sector,district,census_tract,x_coordinate,y_coordinate,latitude,longitude
0,20113421783,CUSTODY ARREST TRAFFIC WARR,3722,2011-12-08T00:00:00.000,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,2000K WOODWARD ST,78741,3,HE,2,23,3114509,3114509,30.21813591,-97.74352501
1,2017471291,THEFT,600,2017-02-16T00:00:00.000,PARKING /DROP LOT/ GARAGE,1167 AIRPORT BLVD,78721,1,CH,4,21,3128234,3128234,30.27478825,-97.69851396
2,2003620481173,VIOL CITY ORDINANCE - OTHER,3299,2003-02-17T00:00:00.000,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,900 BLOCK W 9TH ST,78701,9,GE,1,11,3111573,3111573,30.27373748,-97.75133669
3,20101382082,THEFT OF LICENSE PLATE,614,2010-05-18T00:00:00.000,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,100 RADAM LN,78745,3,DA,3,20,3107688,3107688,30.22154219,-97.76503571
4,20045054494,BURGLARY OF COIN-OP MACHINE,602,2004-11-09T00:00:00.000,COMMERCIAL / OFFICE BUILDING,1601 OHLEN RD,78758,4,ED,2,401,3122340,3122340,30.36380148,-97.71477615

In [8]:
crime_clean_df = crime_clean_df.dropna()

In [9]:
crime_clean_df.shape

(470447, 15)

In [10]:
crime_clean_df.dtypes

incident_report_number    object
crime_type                object
ucr_code                  object
occ_date                  object
location_type             object
address                   object
zip_code                  object
council_district          object
sector                    object
district                  object
census_tract              object
x_coordinate              object
y_coordinate              object
latitude                  object
longitude                 object
dtype: object

In [11]:
crime_clean_df['incident_report_number'] = crime_clean_df['incident_report_number'].astype('int64')
crime_clean_df['crime_type'] = crime_clean_df['crime_type'].astype('str')
crime_clean_df['ucr_code'] = crime_clean_df['ucr_code'].astype('int')
crime_clean_df['location_type'] = crime_clean_df['location_type'].astype('str')
crime_clean_df['address'] = crime_clean_df['address'].astype('str')
crime_clean_df['zip_code'] = crime_clean_df['zip_code'].astype('int')
crime_clean_df['council_district'] = crime_clean_df['council_district'].astype('int')
crime_clean_df['sector'] = crime_clean_df['sector'].astype('str')
crime_clean_df['district'] = crime_clean_df['district'].astype('str')
crime_clean_df['census_tract'] = crime_clean_df['census_tract'].astype('float64')
crime_clean_df['x_coordinate'] = crime_clean_df['x_coordinate'].astype('float64')
crime_clean_df['y_coordinate'] = crime_clean_df['y_coordinate'].astype('float64')
crime_clean_df['latitude'] = crime_clean_df['latitude'].astype('float64')
crime_clean_df['longitude'] = crime_clean_df['longitude'].astype('float64')

In [12]:
crime_clean_df['occ_date'] = pd.to_datetime(crime_clean_df['occ_date'])

In [13]:
crime_clean_df.dtypes

incident_report_number             int64
crime_type                        object
ucr_code                           int32
occ_date                  datetime64[ns]
location_type                     object
address                           object
zip_code                           int32
council_district                   int32
sector                            object
district                          object
census_tract                     float64
x_coordinate                     float64
y_coordinate                     float64
latitude                         float64
longitude                        float64
dtype: object

In [17]:
crime_clean_df.to_csv('../Resources/Austin_Crime_Reports_Clean.csv')

In [18]:
import sqlite3

In [19]:
conn = sqlite3.connect('gentrification_db.sqlite')

In [20]:
crime_clean_df.to_sql(name='crime_reports_df', con=conn, if_exists='replace', index=False)

In [22]:
table_name = "crime_reports_df"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

crime_df = pd.read_sql(sql_statement, conn)

crime_df.head(5)

SELECT * FROM crime_reports_df;

,incident_report_number,crime_type,ucr_code,occ_date,location_type,address,zip_code,council_district,sector,district,census_tract,x_coordinate,y_coordinate,latitude,longitude
0,20113421783,CUSTODY ARREST TRAFFIC WARR,3722,2011-12-08 00:00:00,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,2000K WOODWARD ST,78741,3,HE,2,23.0,3114509.0,3114509.0,30.218136,-97.743525
1,2017471291,THEFT,600,2017-02-16 00:00:00,PARKING /DROP LOT/ GARAGE,1167 AIRPORT BLVD,78721,1,CH,4,21.0,3128234.0,3128234.0,30.274788,-97.698514
2,2003620481173,VIOL CITY ORDINANCE - OTHER,3299,2003-02-17 00:00:00,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,900 BLOCK W 9TH ST,78701,9,GE,1,11.0,3111573.0,3111573.0,30.273737,-97.751337
3,20101382082,THEFT OF LICENSE PLATE,614,2010-05-18 00:00:00,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,100 RADAM LN,78745,3,DA,3,20.0,3107688.0,3107688.0,30.221542,-97.765036
4,20045054494,BURGLARY OF COIN-OP MACHINE,602,2004-11-09 00:00:00,COMMERCIAL / OFFICE BUILDING,1601 OHLEN RD,78758,4,ED,2,401.0,3122340.0,3122340.0,30.363801,-97.714776