# Read in CSV and Clean

In [1]:
import pandas as pd

In [2]:
displacement_df = pd.read_csv('../Resources/Displacement_Risk_Demographics_2019.csv', low_memory=False)

In [3]:
displacement_df.head()

,the_geom,GEOID20,COUNCIL_DI,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,...,Percent Renter Occupied Units_2019,Percent Owner Occupied Units_2019,Sum of Lowmoduniverse_2019,Sum of Lowmod_2019,Percent Lowmod_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Quadrant_2019,Percent severely rent burdened_2019
0,MULTIPOLYGON (((-97.74903862358497 30.19139320...,4.850000e+14,2,92,76,15,0,0,0,0,...,0.38,0.62,6065,4300,0.71,56389,126800,1579,Southeast,0.26
1,MULTIPOLYGON (((-97.73502862334274 30.25968421...,4.850000e+14,3,26,17,9,0,0,0,0,...,0.46,0.54,3640,2135,0.59,57269,440100,1302,East,0.22
2,MULTIPOLYGON (((-97.7167086205077 30.282670219...,4.850000e+14,1,24,2,21,0,1,0,0,...,0.64,0.36,3055,1705,0.56,60950,398200,1248,East,0.33
3,MULTIPOLYGON (((-97.64422960245622 30.29935522...,4.850000e+14,1,43,31,4,5,0,1,0,...,0.51,0.49,8490,6780,0.80,44314,94900,1211,Northeast,0.41
4,MULTIPOLYGON (((-97.70436961526102 30.22639820...,4.850000e+14,3,13,5,2,5,0,0,0,...,0.77,0.23,10290,8985,0.87,54661,207500,924,Southeast,0.23

In [4]:
displacement_df.shape

(3013, 60)

In [5]:
displacement_df.columns

Index(['the_geom', 'GEOID20', 'COUNCIL_DI', 'Total Population 2020',
       'Total Hispanic Pop 2020', 'Total NH White 2020', 'Total NH Black 2020',
       'Total NH AM Indian AK Native 2020', 'Total NH Asian 2020',
       'Total NH Native Hawaiian 2020', 'Total NH Other Races 2020',
       'Total NH Two or More Races 2020', 'Total Housing Units 2020',
       'Occupied Housing Units 2020', 'Vacant Housing Units 2020', 'GEOID20_1',
       'Total City Sponsored Affordable Units',
       'Total Citywide Affordable Units', 'TRACTCE10', 'GEOID10', 'NAME10',
       'GeoIDNum', 'GEOID_1', 'GEOID1', 'NAME_1', 'GENTRIFICATION Typology',
       'VULNERABLE Pop', 'DEMOGRAPHIC Change', 'HOUSING_MARKET',
       'DISPLACEMENT RISK', 'DESCRIPTION', 'FIPS', 'Geographic',
       'Total_Population_2019', 'White (Not Hispanic)_2019', 'POC%_2019',
       'White (Not Hispanic)%_2019', 'Population 25 and older_2019',
       'Education: Less than HS_2019', 'Education: HS Graduate_2019',
       'Education: Some College_2019', 'Education: Bachelors_2019',
       'Percent without Bachelors_2019', 'Percent with Bachelors_2019',
       'Pop under 18 for whom poverty is determined_2019',
       'Population below poverty_2019', 'Percent Child Poverty_2019',
       'Occupied Housing Units_2019', 'Owner Occupied Housing Units_2019',
       'Renter Occupied Housing Units_2019',
       'Percent Renter Occupied Units_2019',
       'Percent Owner Occupied Units_2019', 'Sum of Lowmoduniverse_2019',
       'Sum of Lowmod_2019', 'Percent Lowmod_2019',
       'Median Family Income_2019', 'Median Home Value_2019',
       'Median Gross Rent_2019', 'Quadrant_2019',
       'Percent severely rent burdened_2019'],
      dtype='object')

In [6]:
displacement_df.isnull().sum()

the_geom                                             0
GEOID20                                              0
COUNCIL_DI                                           0
Total Population 2020                                0
Total Hispanic Pop 2020                              0
Total NH White 2020                                  0
Total NH Black 2020                                  0
Total NH AM Indian AK Native 2020                    0
Total NH Asian 2020                                  0
Total NH Native Hawaiian 2020                        0
Total NH Other Races 2020                            0
Total NH Two or More Races 2020                      0
Total Housing Units 2020                             0
Occupied Housing Units 2020                          0
Vacant Housing Units 2020                            0
GEOID20_1                                            0
Total City Sponsored Affordable Units                0
Total Citywide Affordable Units                      0
TRACTCE10                                            0
GEOID10                                              0
NAME10                                               0
GeoIDNum                                             0
GEOID_1                                              0
GEOID1                                               0
NAME_1                                              41
GENTRIFICATION Typology                             41
VULNERABLE Pop                                       0
DEMOGRAPHIC Change                                  41
HOUSING_MARKET                                       0
DISPLACEMENT RISK                                    0
DESCRIPTION                                          0
FIPS                                                 0
Geographic                                           0
Total_Population_2019                                0
White (Not Hispanic)_2019                            0
POC%_2019                                            0
White (Not Hispanic)%_2019                           0
Population 25 and older_2019                         0
Education: Less than HS_2019                         0
Education: HS Graduate_2019                          0
Education: Some College_2019                         0
Education: Bachelors_2019                            0
Percent without Bachelors_2019                       0
Percent with Bachelors_2019                          0
Pop under 18 for whom poverty is determined_2019     0
Population below poverty_2019                        0
Percent Child Poverty_2019                           0
Occupied Housing Units_2019                          0
Owner Occupied Housing Units_2019                    0
Renter Occupied Housing Units_2019                   0
Percent Renter Occupied Units_2019                   0
Percent Owner Occupied Units_2019                    0
Sum of Lowmoduniverse_2019                           0
Sum of Lowmod_2019                                   0
Percent Lowmod_2019                                  0
Median Family Income_2019                            0
Median Home Value_2019                               0
Median Gross Rent_2019                               0
Quadrant_2019                                        0
Percent severely rent burdened_2019                  0
dtype: int64

In [7]:
displacement_df['the_geom'].nunique()

3013

In [8]:
displacement_clean_df = displacement_df.drop(['GEOID20',
                                              'GEOID20_1', 
                                              'Total City Sponsored Affordable Units', 
                                              'Total Citywide Affordable Units', 
                                              'GEOID10',  
                                              'GEOID_1', 
                                              'GEOID1', 
                                              'DESCRIPTION',
                                              'FIPS',
                                              'Geographic', 
                                              'Total_Population_2019',
                                              'White (Not Hispanic)_2019',
                                              'POC%_2019',
                                              'Percent without Bachelors_2019', 
                                              'Percent with Bachelors_2019', 
                                              'Percent Renter Occupied Units_2019', 
                                              'Percent Owner Occupied Units_2019', 
                                              'Percent Lowmod_2019'], axis=1)

In [9]:
displacement_clean_df.head()

,the_geom,COUNCIL_DI,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,...,Occupied Housing Units_2019,Owner Occupied Housing Units_2019,Renter Occupied Housing Units_2019,Sum of Lowmoduniverse_2019,Sum of Lowmod_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Quadrant_2019,Percent severely rent burdened_2019
0,MULTIPOLYGON (((-97.74903862358497 30.19139320...,2,92,76,15,0,0,0,0,0,...,1482,912,570,6065,4300,56389,126800,1579,Southeast,0.26
1,MULTIPOLYGON (((-97.73502862334274 30.25968421...,3,26,17,9,0,0,0,0,0,...,1501,817,684,3640,2135,57269,440100,1302,East,0.22
2,MULTIPOLYGON (((-97.7167086205077 30.282670219...,1,24,2,21,0,1,0,0,0,...,1640,593,1047,3055,1705,60950,398200,1248,East,0.33
3,MULTIPOLYGON (((-97.64422960245622 30.29935522...,1,43,31,4,5,0,1,0,0,...,2615,1271,1344,8490,6780,44314,94900,1211,Northeast,0.41
4,MULTIPOLYGON (((-97.70436961526102 30.22639820...,3,13,5,2,5,0,0,0,1,...,2682,609,2073,10290,8985,54661,207500,924,Southeast,0.23

In [10]:
displacement_clean_df = displacement_clean_df.dropna()

In [11]:
displacement_clean_df.shape

(2931, 42)

In [12]:
displacement_clean_df.dtypes

the_geom                                             object
COUNCIL_DI                                            int64
Total Population 2020                                 int64
Total Hispanic Pop 2020                               int64
Total NH White 2020                                   int64
Total NH Black 2020                                   int64
Total NH AM Indian AK Native 2020                     int64
Total NH Asian 2020                                   int64
Total NH Native Hawaiian 2020                         int64
Total NH Other Races 2020                             int64
Total NH Two or More Races 2020                       int64
Total Housing Units 2020                              int64
Occupied Housing Units 2020                           int64
Vacant Housing Units 2020                             int64
TRACTCE10                                             int64
NAME10                                              float64
GeoIDNum                                              int64
NAME_1                                               object
GENTRIFICATION Typology                              object
VULNERABLE Pop                                       object
DEMOGRAPHIC Change                                   object
HOUSING_MARKET                                       object
DISPLACEMENT RISK                                    object
White (Not Hispanic)%_2019                          float64
Population 25 and older_2019                          int64
Education: Less than HS_2019                          int64
Education: HS Graduate_2019                           int64
Education: Some College_2019                          int64
Education: Bachelors_2019                             int64
Pop under 18 for whom poverty is determined_2019      int64
Population below poverty_2019                         int64
Percent Child Poverty_2019                          float64
Occupied Housing Units_2019                           int64
Owner Occupied Housing Units_2019                     int64
Renter Occupied Housing Units_2019                    int64
Sum of Lowmoduniverse_2019                            int64
Sum of Lowmod_2019                                    int64
Median Family Income_2019                             int64
Median Home Value_2019                                int64
Median Gross Rent_2019                                int64
Quadrant_2019                                        object
Percent severely rent burdened_2019                 float64
dtype: object

In [13]:
displacement_clean_df['NAME10'] = displacement_clean_df['NAME10'].astype('str')

In [14]:
displacement_clean_df.dtypes

the_geom                                             object
COUNCIL_DI                                            int64
Total Population 2020                                 int64
Total Hispanic Pop 2020                               int64
Total NH White 2020                                   int64
Total NH Black 2020                                   int64
Total NH AM Indian AK Native 2020                     int64
Total NH Asian 2020                                   int64
Total NH Native Hawaiian 2020                         int64
Total NH Other Races 2020                             int64
Total NH Two or More Races 2020                       int64
Total Housing Units 2020                              int64
Occupied Housing Units 2020                           int64
Vacant Housing Units 2020                             int64
TRACTCE10                                             int64
NAME10                                               object
GeoIDNum                                              int64
NAME_1                                               object
GENTRIFICATION Typology                              object
VULNERABLE Pop                                       object
DEMOGRAPHIC Change                                   object
HOUSING_MARKET                                       object
DISPLACEMENT RISK                                    object
White (Not Hispanic)%_2019                          float64
Population 25 and older_2019                          int64
Education: Less than HS_2019                          int64
Education: HS Graduate_2019                           int64
Education: Some College_2019                          int64
Education: Bachelors_2019                             int64
Pop under 18 for whom poverty is determined_2019      int64
Population below poverty_2019                         int64
Percent Child Poverty_2019                          float64
Occupied Housing Units_2019                           int64
Owner Occupied Housing Units_2019                     int64
Renter Occupied Housing Units_2019                    int64
Sum of Lowmoduniverse_2019                            int64
Sum of Lowmod_2019                                    int64
Median Family Income_2019                             int64
Median Home Value_2019                                int64
Median Gross Rent_2019                                int64
Quadrant_2019                                        object
Percent severely rent burdened_2019                 float64
dtype: object

In [15]:
displacement_clean_df['VULNERABLE Pop'].value_counts()

YES    2119
NO      812
Name: VULNERABLE Pop, dtype: int64

In [17]:
displacement_clean_df['Occupied Housing Units 2020'].sum()

122529

In [18]:
displacement_clean_df['Vacant Housing Units 2020'].sum()

10760

In [20]:
displacement_clean_df['Median Family Income_2019'].describe()

count      2931.000000
mean      64588.573524
std       23209.756201
min       28219.000000
25%       48687.000000
50%       57269.000000
75%       74107.000000
max      123214.000000
Name: Median Family Income_2019, dtype: float64

In [21]:
displacement_clean_df['Median Home Value_2019'].describe()

count      2931.000000
mean     291444.796998
std      122196.525939
min           0.000000
25%      201300.000000
50%      280900.000000
75%      352700.000000
max      600900.000000
Name: Median Home Value_2019, dtype: float64

In [22]:
displacement_clean_df['Median Gross Rent_2019'].describe()

count    2931.000000
mean     1195.896622
std       201.907141
min       504.000000
25%      1081.000000
50%      1199.000000
75%      1302.000000
max      1802.000000
Name: Median Gross Rent_2019, dtype: float64

In [26]:
displacement_clean_df['Percent severely rent burdened_2019'].describe()

count    2931.000000
mean        0.244139
std         0.081546
min         0.020000
25%         0.180000
50%         0.230000
75%         0.310000
max         0.480000
Name: Percent severely rent burdened_2019, dtype: float64

In [15]:
displacement_clean_df['NAME10'].unique()

array(['24.12', '10.0', '4.02', '22.02', '23.18', '15.03', '18.18',
       '24.32', '22.11', '24.31', '9.02', '18.23', '21.1', '24.3',
       '15.05', '8.03', '13.07', '13.08', '23.12', '21.06', '20.03',
       '24.11', '18.12', '14.03', '24.21', '22.08', '21.07', '18.13',
       '18.2', '23.13', '18.22', '21.12', '23.07', '21.09', '18.04',
       '24.27', '21.13', '13.05', '8.04', '9.01', '24.02', '18.21',
       '18.33', '21.05', '23.14', '24.19', '22.01', '18.06', '23.17',
       '21.08', '20.04', '21.11', '24.1', '18.44', '20.05', '8.01',
       '18.05', '23.08', '21.04', '18.19', '23.16', '23.15', '24.29',
       '24.13', '22.07', '18.11'], dtype=object)

In [16]:
displacement_census_tract = displacement_clean_df.NAME10.value_counts()
displacement_census_tract = pd.DataFrame(displacement_census_tract)
displacement_census_tract.head()

       NAME10
9.02      147
24.31     141
13.05     109
15.03     105
8.03       94

In [17]:
displacement_census_tract.index.name = 'census_tract'
displacement_census_tract.rename(columns = {'NAME10':'geom_count'}, inplace=True)
displacement_census_tract.head()

              geom_count
census_tract
9.02                 147
24.31                141
13.05                109
15.03                105
8.03                  94

In [18]:
displacement_clean_df.to_csv('../Resources/Displacement_Risk_Demographics_Cleaned.csv')

# Database Connection

In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect('gentrification_db.sqlite')

In [21]:
displacement_clean_df.to_sql(name='displacement_risk_df', con=conn, if_exists='replace', index=False)

D:\Programs\anaconda3\envs\mlenv\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [22]:
table_name = "displacement_risk_df"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

displacement_risk_df = pd.read_sql(sql_statement, conn)

displacement_risk_df.head(5)

SELECT * FROM displacement_risk_df;

,the_geom,COUNCIL_DI,Total Population 2020,Total Hispanic Pop 2020,Total NH White 2020,Total NH Black 2020,Total NH AM Indian AK Native 2020,Total NH Asian 2020,Total NH Native Hawaiian 2020,Total NH Other Races 2020,...,Occupied Housing Units_2019,Owner Occupied Housing Units_2019,Renter Occupied Housing Units_2019,Sum of Lowmoduniverse_2019,Sum of Lowmod_2019,Median Family Income_2019,Median Home Value_2019,Median Gross Rent_2019,Quadrant_2019,Percent severely rent burdened_2019
0,MULTIPOLYGON (((-97.74903862358497 30.19139320...,2,92,76,15,0,0,0,0,0,...,1482,912,570,6065,4300,56389,126800,1579,Southeast,0.26
1,MULTIPOLYGON (((-97.73502862334274 30.25968421...,3,26,17,9,0,0,0,0,0,...,1501,817,684,3640,2135,57269,440100,1302,East,0.22
2,MULTIPOLYGON (((-97.7167086205077 30.282670219...,1,24,2,21,0,1,0,0,0,...,1640,593,1047,3055,1705,60950,398200,1248,East,0.33
3,MULTIPOLYGON (((-97.64422960245622 30.29935522...,1,43,31,4,5,0,1,0,0,...,2615,1271,1344,8490,6780,44314,94900,1211,Northeast,0.41
4,MULTIPOLYGON (((-97.70436961526102 30.22639820...,3,13,5,2,5,0,0,0,1,...,2682,609,2073,10290,8985,54661,207500,924,Southeast,0.23

In [23]:
displacement_census_tract.to_sql(name='displacement_census_df', con=conn, if_exists='replace', index=True)

In [24]:
table_name = "displacement_census_df"
sql_statement = f"SELECT * FROM {table_name};"
print(sql_statement)

displacement_census_df = pd.read_sql(sql_statement, conn)

displacement_census_df.head(5)

SELECT * FROM displacement_census_df;

  census_tract  geom_count
0         9.02         147
1        24.31         141
2        13.05         109
3        15.03         105
4         8.03          94